<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.stock_quantity %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
<%
    total = 0
    total_stock = 0
    max = Array.new
    @products.each { |product|
      total += product.price
      total_stock += product.stock_quantity
      max << product.price
    }
    
    
%>
<p>The average price is $<%= (total/@products.size).round(2)%></p>
<p>The maximum price is $<%= max.max%></p>
<p>The total number of unique products is <%= @products.distinct(:title).size%></p>
<p>The total stock quantity is <%= total_stock%></p>
<% 100.times do %>
  <p>Chunky Bacon!</p>
<% end %>
